<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}} 
</head>
<body>
    {{>navbar}}
    <!--main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="img/full_stack.png" alt="abc" class="img-fluid" title="Tushar">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to About Page</p>
                        <h1>I Am A<Span class="text_clr"> Full Stack</Span> Web Developer And Youtuber </h1>
                        <a href ="www.google.com" target="_blank "><button>About me</button></a>
                    </div>
                    

                </div>

            </div> 
        </div>
    </div>    
<!--footer code -->
{{>footer}}
</body>
</html>